<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/bootstrap-touch-carousel.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">

	<!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <script src="{{ ASSET_PATH }}/js/jquery-1.9.1.js"></script>
	<script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
    
    <link href="{{ ASSET_PATH }}/css/idangerous.swiper.css" rel="stylesheet">
    <script src="{{ ASSET_PATH }}/js/idangerous.swiper-2.3.min.js"></script>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/idangerous.swiper.3dflow.css">
    <script src="{{ ASSET_PATH }}/js/idangerous.swiper.3dflow-2.0.js"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support oh HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script>
        // Added this just so I didn't have to wait 5 seconds to see if the transition worked. //
        $(document).ready(function() {
			$('#mainCarousel').carousel({
				interval: 2000
			})
        });
    </script>    
</head>
    
<body>
	<header class="navbar navbar-inverse navbar-fixed-top navbar-main" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-principal">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-principal">
		    <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li class="dropdown">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Soluções<b class="caret"></b></a>
    				<ul class="dropdown-menu">
    				  <li><a href="/solucoes/judiciario.html">Judiciário</a></li>
    				  <li><a href="#">Intranet</a></li>
    				  <li><a href="#">Internet</a></li>
    				  <li><a href="#">E-commerce</a></li>
    				  <li><a href="#">GED</a></li>
    				</ul>
				</li>
				<li><a href="#">Produtos</a></li>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Contato</a></li>
				<li><a href="#">Trabalhe Conosco</a></li>
				<li><a href="#">Portal de Suporte</a></li>
			</ul>
		</div>
		
		<div class="container">
			<div class="row hidden-xs">
				<div class="hidden-xs col-sm-8 col-md-8 col-lg-8">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/blog">Blog</a></li>
						<li class="dropdown">
    						<a href="solucoes/judiciario.html" class="dropdown-toggle" data-toggle="dropdown">Soluções<b class="caret"></b></a>
    						<ul class="dropdown-menu">
    						  <li><a href="/solucoes/judiciario.html">Judiciário</a></li>
    						  <li><a href="#">Intranet</a></li>
    						  <li><a href="#">Internet</a></li>
    						  <li><a href="#">E-commerce</a></li>
    						  <li><a href="#">GED</a></li>
    						</ul>
						</li>
						<li><a href="#">Produtos</a></li>
						<li><a href="#">Clientes</a></li>
						<li class="hidden-xs hidden-sm"><a href="#">Contato</a></li>
					</ul>
				</div><!-- .col -->
				<div class="col-sm-4 col-md-4 col-lg-4">
					<ul class="nav navbar-nav navbar-right">
                        <li class="hidden-xs hidden-sm"><a href="#">Trabalhe Conosco</a></li>
                        <li class="hidden-xs hidden-sm"><a href="#">Portal de Suporte</a></li>
						<li class="dropdown hidden-md hidden-lg">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            <li><a href="#">Enviar mensagem</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                            <li><a href="#">Portal de suporte</a></li>
                            </ul>
                        </li>
					</ul>
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->

	</header><!-- HEADER -->
    
    <div class="jumbotron">
	    <div class="container">
	        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{ ASSET_PATH }}/img/logo_E.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control input-busca" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-busca">Buscar</button>
                </form>
            </div>  
	    </div>
	</div><!-- .jumbotron -->