{% for link in site.navigation %}
    {% assign current = nil %}
    {% if page.url == link.url or page.layout == link.layout %}
        {% assign current = 'active' %}
    {% endif %}

{% if link.text == 'Soluções' %}
        <li class="dropdown {{ current }}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Soluções<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/solucoes/judiciario.html">Judiciário</a></li>
                    <li><a href="/solucoes/intranet.html">Intranet</a></li>
                    <li><a href="/solucoes/internet.html">Internet</a></li>
                    <li><a href="/solucoes/e-commerce.htlm">E-commerce</a></li>
                    <li><a href="/solucoes/GED.html">GED</a></li>
                </ul>
        </li>
    {% else %}
        <li class="{{ current }}">
            <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
{% endif %}
{% endfor %}