<div class="container post">
    <div class="row home homecol">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h2 class="fakeh1">Blog</h2>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
        </div>
    </div>
</div>
<div class="container post">
    <div class="row">
        <div class="hiden-xs hiden-sm col-md-2 col-lg-2">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
            <span class="meta">Publicado por <strong></>{{ page.author }}</strong> em <strong>{% include themes/estorage/date.md %}</strong></span>
        </div>
        <div class="hiden-xs hiden-sm col-md-2 col-lg-2">
        </div>
    </div>

    <div class="row">
        <div class="hiden-xs hiden-sm col-md-2 col-lg-2">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {{ content }}
            <br />
        </div>
        <div class="hiden-xs hiden-sm col-md-2 col-lg-2">
        </div>
    </div>
</div>